body
{
	margin: 100px;
}
#top
	{
		border: 2px solid blue;
		height: 400px;
	
	}
/*division one*/
#image img
	{
		width: 70px;
		height: 70px;
		border-radius:70%;
	}
	

/*same id,class using division*/

/*-------------first div------------*/
.flower
	{
        margin-left: 70px;
		width: 200px;
	}
	.flower img
	{
		padding-left: 15px;
		border:100px;
	}

/*-------------second div------------*/
	.popup img
	{

     display: block;
     padding-top: 10px;
	}

/*-------------third div------------*/
	.pop
    {
    	float: right;
   margin-left: 183px;
    }
	.pop img
	{

     display: block;
     padding-top: 10px;
	}
	
	#picture,.popup
	{
		float: left;
	}
	.popup,.pop
	{
		margin-top: -35px;
	}

/*-------------center div------------*/
	#picture
	{
        margin-top: -115px;
	    margin-left: 79px;
		border: 1px solid blue;
		width: 160px;
		height: 220px;
		}
    #picture img
	{
		width: 70px;
		height: 70px;
		padding:50px;
		display: inline;
	}
	#picture p
	{
		color: red;
		text-align: center;
	}
	#picture:hover
	{
		background-color: #bdbdbd;
		color: yellow;
		cursor:pointer;
	}
	#image,#image1,#image2
	{
	opacity:0;
	}
	.gallery
	{
		float: left;
		padding-left: 20px;
	}


	/*second division*/
	#image1 img
	{
		width: 70px;
		height: 70px;
		border-radius: 50%;
	}
	#image2 img
	{
		width: 70px;
		height: 70px;
		border-radius: 50%;
	}
	
	